apache-airflow[google,amazon,apache.spark,package-extra,crypto,utils]==2.5.0
apache-airflow-providers-ssh
boto3
botocore
mysqlclient
psycopg2
kubernetes
apache-airflow-providers-slack[http]
apache-airflow-providers-slack
aiohttp
apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow-providers-presto
shutils



